body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
   background-image: url('./assets/png/coffe-bg.jpeg');
   background-repeat: no-repeat;
   background-position:center ;
   background-size: cover;
  }
