
.blog{
    padding:20px 40px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color:black;
    color: white;
    margin: 40px;
}
.blog img{
    width:  300px;
    height: 300px;
    border-radius: 100% ;
}

p{
    font-size: 18px;
}
